<table class="table">
    <tr>
        <td>aa</td>
        <td>bb</td>
    </tr>
   
    <tr>
        <td>cc</td>
        <td>ee</td>
    </tr>
   
    <tr>
        <td>dd</td>
        <td>ff</td>
    </tr>
</table>    